@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --orange: #fac562;
  --bg-orange: rgb(254, 233, 207);
  --blue: #2f5ba5;
  --bg-blue: #ddf2f9;
  --shadow-blue: #bacdec;
  --bg-blue-hover: #d0e8f0;
  --offwhite: #fdfdfd;
  --gray: #555555;
  --bg-gray: #ededed;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 2em;
}

body {
  margin: 0;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  border: 4px solid rgb(229, 229, 229);
  padding-top: 1em;
  box-shadow: 1px 3px 4px rgb(160, 160, 160);
  transition: all .15s ease-in-out;
  position: relative;
}

/* button {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12pt;
  cursor: pointer;
  transform: rotate(-2deg);
  transition: border-color 0.25s, background-color 0.25s, color 0.25s, transform 0.25s;
}
button:hover {
  border-color: var(--orange);
  background-color: var(--orange);
  transform: rotate(1deg);
} */